html
{
      height: 100%;
}
body {
  background-image: url("./images/wsgif.gif");
  
  /* Full height */
  height: 100%;
  margin : 0;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.pestostyle {
  font: outline;
  color: blanchedalmond;
}

.pestotext{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: aliceblue;
}

.tsize
{
  font-size: 6;
  color: darkseagreen;
}